config/private-config.json
config/rclone.conf
/esportazioni/

# Playwright
/node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.github/workflows/playwright copy.yml

.vscode/
/data/
