name: Playwright Tests
on:
  #push:
  #  branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'
jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository_owner }}/playwright-pwsh:latest
      options: --user root
    permissions:
      contents: write 
    defaults:
      run:
        shell: pwsh
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
    
      - name: Set up config file
        run: |
          echo '${{secrets.CONFIG}}' > config/config.json
          $lu = .github/utils/setup-config.ps1 getlu
          .github/utils/setup-config.ps1 setlu $lu
    
      - name: Run Playwright tests
        run: download-invoices.ps1
    
      - name: Save run timestamp
        run: .github/utils/setup-config.ps1 savelu
    
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
