name: Playwright Tests
on:
  push:
    branches: [ main, master, refactoring-to-just-nodejs ]
  pull_request:
    branches: [ main, master, refactoring-to-just-nodejs ]
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'
jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository_owner }}/playwright-pwsh:latest
      options: --user root
    permissions:
      contents: write 
    defaults:
      run:
        shell: pwsh
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm ci --ignore-scripts
    
      - name: Retrieve config secret
        run: echo '${{secrets.CONFIG}}' > config/config.json
          
      - name: Retrieve and set last update
        run: |
          $lu = .github/utils/setup-config.ps1 getlu
          .github/utils/setup-config.ps1 setlu $lu
      
      #- name: Run tree
      #  shell: bash
      #  run: |
      #    apt-get update
      #    apt-get install -y tree
      #    tree .
    
      - name: Run Playwright tests
        run: npm run dev:tests
    
      - name: Save run timestamp
        run: .github/utils/setup-config.ps1 savelu
    
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
