name: Remote Start
on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'
jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository_owner }}/playwright-pwsh:latest
      options: --user root
    permissions:
      contents: write 
    defaults:
      run:
        shell: pwsh
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm ci --ignore-scripts
    
      - name: Retrieve config secret
        env:
          CONFIG_JSON: ${{ secrets.CONFIG }}
        run: $env:CONFIG_JSON | Out-File -FilePath config/config.json

      - name: Restore last-run.json
        run: |
          git config --global safe.directory '*'
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git fetch origin workflow
          git show origin/workflow:last-run.json > config/last-run.json
    
      - name: Run main
        run: npm run remote:start

      - name: Upload files to rclone remote
        env:
          RCLONE_CONFIG: ${{ secrets.RCLONE_CONFIG }}
        run: |
          $env:RCLONE_CONFIG | Out-File ./config/rclone.conf
          rclone copy ./data remote-folder: --config ./config/rclone.conf

      - name: Save to workflow branch
        run: |
          git fetch origin workflow && git checkout workflow
          git show main:config/last-run.json > last-run.json
          git add last-run.json
          git commit -m "Update last-run [$env:GITHUB_RUN_NUMBER]"
          git push origin workflow